@charset "UTF-8";
.small_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .small_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 28.776vw;
      /*28.776vw  221px*/
      height: 135px; } }
  @media screen and (max-width: 480px) {
    .small_div {
      padding-left: 3.125vw !important;
      /*3.125vw 10px*/
      padding-right: 3.125vw !important;
      /*3.125vw 10px*/
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      width: 42.187vw;
      /*42.187vw 135px*/
      height: 135px; } }
  .small_div_workers {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .small_div_workers {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_workers {
        left: 0px;
        top: 100px; } }
  .small_div_test {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .small_div_test {
        left: 34.375vw;
        /*34.375vw 264px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_test {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 100px; } }
  .small_div_int {
    background: #90BCE8; }
    @media screen and (max-width: 768px) {
      .small_div_int {
        left: 66.927vw;
        /*66.927vw 514px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_int {
        left: 0px;
        top: 430px; } }
  .small_div_workers2 {
    background: #FEBF26; }
    @media screen and (max-width: 768px) {
      .small_div_workers2 {
        left: 66.927vw;
        /*66.927vw 514px*/
        top: 767px; } }
    @media screen and (max-width: 480px) {
      .small_div_workers2 {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 430px; } }
  .small_div_lid {
    background-color: #FFAA87; }
    @media screen and (max-width: 768px) {
      .small_div_lid {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 1434px; } }
    @media screen and (max-width: 480px) {
      .small_div_lid {
        left: 0px;
        top: 1146px; } }
  .small_div_nevgeni {
    background: #F55E62; }
    @media screen and (max-width: 768px) {
      .small_div_nevgeni {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_nevgeni {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 1146px; } }
  .small_div_vector {
    background: #C7ABD4; }
    @media screen and (max-width: 768px) {
      .small_div_vector {
        left: 67.057vw;
        /*67.057vw  515px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_vector {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 981px; } }
  .small_div_tchk {
    background: #FFAA87; }
    @media screen and (max-width: 768px) {
      .small_div_tchk {
        left: 34.375vw;
        /*34.375â¬vw 264px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_tchk {
        left: 0px;
        top: 981px; } }

@media screen and (max-width: 768px) {
  .bigdiv {
    position: absolute;
    padding: 1.3vw;
    /*1.3vw 10px*/
    width: 61.458vw;
    /*61.458vw 472px*/
    height: 472px;
    left: 34.375vw;
    /*34.375â¬vw 264px*/
    top: 932px;
    background: #E3EBD3; } }
@media screen and (max-width: 480px) {
  .bigdiv {
    display: none; } }
.bigdiv .row {
  width: 100%;
  margin-bottom: 10px; }
.bigdiv .leftblok {
  float: left;
  height: 45px;
  width: auto; }
.bigdiv .rightblok {
  width: auto;
  height: 45px;
  float: right;
  line-height: 10px;
  text-align: left;
  display: flex;
  align-items: flex-end; }
.bigdiv .first {
  float: left;
  height: 45px;
  width: auto;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  text-align: right; }
.bigdiv .second {
  float: left;
  height: 45px;
  border-bottom-style: dotted;
  border-bottom-width: 2px; }

.normal_left_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .normal_left_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 28.776vw;
      /*28.776vw  221px*/
      height: 221px;
      left: 1.69vw;
      /*1.69vw  13px*/ } }
  .normal_left_div_vlast {
    background: #E3EBD3; }
    @media screen and (max-width: 768px) {
      .normal_left_div_vlast {
        top: 932px; } }
    @media screen and (max-width: 480px) {
      .normal_left_div_vlast {
        display: none !important; } }
  .normal_left_div_worker3 {
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .normal_left_div_worker3 {
        top: 1183px;
        background-image: url("../img.jpg"); } }
    @media screen and (max-width: 480px) {
      .normal_left_div_worker3 {
        display: none !important; } }
    .normal_left_div_worker3:hover {
      filter: blur(10px); }

.normal_right_div {
  position: absolute;
  color: #FFFFFF;
  background: #A2A9B7; }
  @media screen and (max-width: 768px) {
    .normal_right_div {
      width: 29.427vw;
      /*29.427vw  226px*/
      height: 226px;
      left: 67.057vw;
      /*67.057vw  515px*/
      padding-left: 1.95vw;
      /*1.95vw  15px*/
      padding-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div {
      width: 29.45vw;
      /*29.45vw  94.25px*/
      height: 94.22px;
      left: 68vw;
      /*68vw  217.75px*/
      padding: 0 !important;
      padding-left: 2.5vw !important;
      /*2.5vw 8px*/
      padding-bottom: 8px !important; } }
  @media screen and (max-width: 768px) {
    .normal_right_div_odnokratno {
      top: 100px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div_odnokratno {
      top: 595px; } }
  @media screen and (max-width: 768px) {
    .normal_right_div_moreno {
      top: 351px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div_moreno {
      top: 703.78px; } }

.middle_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .middle_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 61.328vw;
      /*61.328vw 471px*/
      height: 135px; } }
  @media screen and (max-width: 480px) {
    .middle_div {
      width: 93.75vw;
      /*93.75vw 300px*/
      height: 135px;
      padding-left: 3.125vw !important;
      /*3.125vw 10px*/
      padding-right: 3.125vw !important;
      /*3.125vw 10px*/
      padding-top: 10px !important;
      padding-bottom: 10px !important; } }
  .middle_div_konf {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .middle_div_konf {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 767px; } }
    @media screen and (max-width: 480px) {
      .middle_div_konf {
        left: 0px;
        top: 265px; } }
  .middle_div_odnako {
    background: #FFAA87; }
    @media screen and (max-width: 768px) {
      .middle_div_odnako {
        left: 34.375vw;
        /*34.375â¬vw 264px*/
        top: 1434px; } }
    @media screen and (max-width: 480px) {
      .middle_div_odnako {
        left: 0px;
        top: 816px; } }

.textdiv {
  position: absolute;
  background: #A2A9B7;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF; }
  @media screen and (max-width: 768px) {
    .textdiv {
      width: 57.55vw;
      /*57.55vw   442px*/
      height: 467px;
      left: 1.69vw;
      /*1.69vw  13px*/
      top: 100px;
      padding-left: 3.255vw;
      /*3.255vw  25px;*/
      padding-right: 3.255vw;
      /*3.255vw  25px;*/
      padding-top: 25px; } }
  @media screen and (max-width: 480px) {
    .textdiv {
      padding-left: 3.125vw !important;
      /*3.125vw 10px*/
      padding-right: 3.125vw !important;
      /*3.125vw 10px*/
      padding-top: 10px !important;
      width: 59.73vw;
      /*59.73vw  191.15px*/
      height: 200.98px;
      /*62.80vw 200.98px */
      left: 0px;
      top: 595px;
      /*185.937vw  595px*/
      padding-bottom: 0 !important;
      overflow-y: auto; } }

footer {
  position: absolute;
  width: 100vw;
  height: 90px;
  left: 0px;
  background: #C4C4C4; }
  @media screen and (max-width: 768px) {
    footer {
      top: 1764px; } }
  @media screen and (max-width: 480px) {
    footer {
      top: 1311px;
      padding: 0 !important; } }
  footer p {
    position: relative;
    width: 65px;
    height: 20px;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -30px;
    font-size: 24px;
    display: flex;
    align-items: flex-end; }

header {
  position: relative;
  width: 100vw;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #C4C4C4; }
  @media screen and (max-width: 480px) {
    header {
      padding: 0 !important; } }
  header p {
    position: relative;
    width: 74px;
    height: 20px;
    left: 50%;
    margin: 0 0 0 -33px;
    font-size: 24px;
    display: flex;
    align-items: flex-end; }
    @media screen and (max-width: 768px) {
      header p {
        top: 33px; } }
    @media screen and (max-width: 480px) {
      header p {
        top: 35px; } }

body {
  max-width: 768px;
  margin: 0; }

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #000000;
  display: flex;
  align-items: flex-end; }

/*# sourceMappingURL=index.css.map */
