
.text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  line-height: 20px;
  font-size: 14px;
  color: #000000;
  display: flex;
  align-items: flex-end;
}
body{
  max-width: 768px;
  margin: 0;
}
header{
  position: relative;
  width: 100vw;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #C4C4C4;
}
header p{
  position: relative;
  width: 74px;
  height: 20px;
  left: 50%;
  margin: 0 0 0 -33px;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
}
footer{
  position: absolute;
  width: 100vw;
  height: 90px;
  left: 0px;
  background: #C4C4C4;
}

footer p{
  position: relative;
  width: 65px;
  height: 20px;
  left: 50%;
  top: 35px;
  margin: 0 0 0 -30px;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
}
.worker3:hover{
  filter: blur(10px);
}
