@media screen and (max-width:480px){
body *{
  padding-left: 3.125vw!important;/*3.125vw 10px*/
  padding-right:  3.125vw!important;/*3.125vw 10px*/
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
header{
  padding: 0!important;
}
  header p{
    top: 35px;
  }
  footer{
      top: 1311px;
      padding: 0!important;
  }
  .small_div{
    width:42.187vw ;/*42.187vw 135px*/
    height: 135px;
  }
  .small_div_workers{
    left: 0px;
    top: 100px;
  }
  .small_div_test{
    left: 51.56vw ;/*51.56vw 165px*/
    top: 100px;
  }
  .small_div_int{
    left: 0px;
    top: 430px;
  }
  .small_div_workers2{
    left: 51.56vw ;/*51.56vw 165px*/
    top: 430px;
  }
  .small_div_lid{
    left: 0px;
    top: 1146px
  }
  .small_div_nevgeni{
    left: 51.56vw ;/*51.56vw 165px*/
    top: 1146px;
  }
  .small_div_vector{
    left: 51.56vw ;/*51.56vw 165px*/
    top: 981px;
  }
  .small_div_tchk{
    left: 0px;
    top: 981px;
  }
  .textdiv{
    width: 59.73vw;/*59.73vw  191.15px*/
    height: 200.98px;/*62.80vw 200.98px */
    left: 0px;
    top: 595px;/*185.937vw  595px*/

    padding-bottom: 0!important;
    overflow-y:  auto;
  }
  .normal_right_div{
    width: 29.45vw;/*29.45vw  94.25px*/
    height: 94.22px;
    left: 68vw;/*68vw  217.75px*/
    padding: 0!important;
    padding-left: 2.5vw!important;/*2.5vw 8px*/
    padding-bottom: 8px!important;
  }
  .normal_right_div_odnokratno{
    top: 595px;
  }
  .normal_right_div_moreno{
    top: 703.78px;
  }
  .middle_div{
    width: 93.75vw;/*93.75vw 300px*/
    height: 135px;
  }
  .middle_div_konf{
    left: 0px;
    top: 265px;
  }
  .middle_div_odnako{
    left: 0px;
    top: 816px;
  }
  .bigdiv{display: none;}
  .normal_left_div_vlast{display: none;}
  .normal_left_div_worker3{display: none;}
}
