
@media screen and (max-width:768px){

  header p{
    top: 33px;
  }
  footer{
    top: 1764px;
  }

  .textdiv{
    position: absolute;
    width: 57.55vw;/*57.55vw   442px*/
    height: 467px;
    left: 1.69vw;/*1.69vw  13px*/
    top: 100px;
    padding-left: 3.255vw;/*3.255vw  25px;*/
    padding-right: 3.255vw;/*3.255vw  25px;*/
    padding-top: 25px;
    background: #A2A9B7;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .normal_right_div{
    position: absolute;
    width: 29.427vw;/*29.427vw  226px*/
    height: 226px;
    left: 67.057vw;/*67.057vw  515px*/
    background: #A2A9B7;
    padding-left: 1.95vw;/*1.95vw  15px*/
    padding-bottom: 15px;
    color: #FFFFFF;
  }
  .normal_right_div_odnokratno{
    top: 100px;
  }
  .normal_right_div_moreno{
    top: 351px;
  }
  .small_div {
    position: absolute;
    padding: 1.3vw;/*1.3vw 10px*/
    width: 28.776vw;/*28.776vw  221px*/
    height: 135px;
  }

  .small_div_workers{
    left:  1.69vw;/*1.69vw  13px*/
    top: 602px;
    background: #E8EBED;
  }
  .small_div_test{
    left: 34.375vw;/*34.375vw 264px*/
    top: 602px;
    background: #E8EBED;
  }
  .small_div_int{
    left: 66.927vw;/*66.927vw 514px*/
    top: 602px;
    background: #90BCE8;
  }
  .small_div_workers2{
    left:  66.927vw;/*66.927vw 514px*/
    top: 767px;
    background: #FEBF26;
  }
  .small_div_lid{
    left:  1.69vw;/*1.69vw  13px*/
    top: 1434px;
    background-color: #FFAA87;
  }
  .small_div_nevgeni{
    left:  1.69vw;/*1.69vw  13px*/
    top: 1599px;
    background: #F55E62;
  }
  .small_div_vector{
    left: 67.057vw;/*67.057vw  515px*/
    top: 1599px;
    background: #C7ABD4;
  }
  .small_div_tchk{
    left: 34.375vw ;/*34.375‬vw 264px*/
    top: 1599px;
    background: #FFAA87;
  }
  .middle_div{
    padding: 1.3vw;/*1.3vw 10px*/
    position: absolute;
    width: 61.328vw ; /*61.328vw 471px*/
    height: 135px;
  }

  .middle_div_konf{
    left:  1.69vw;/*1.69vw  13px*/
    top: 767px;
    background: #E8EBED;
  }
  .middle_div_odnako{
    left: 34.375vw;/*34.375‬vw 264px*/
    top: 1434px;
    background: #FFAA87;
  }
  .bigdiv{
    position: absolute;
    padding: 1.3vw;/*1.3vw 10px*/
    width: 61.458vw;/*61.458vw 472px*/
    height: 472px;
    left: 34.375vw;/*34.375‬vw 264px*/
    top: 932px;
    background: #E3EBD3;
  }
  .row{
    width: 100%;
    margin-bottom: 10px;
  }
  .leftblok{
    float: left;
    height: 45px;;
    width: auto;
  }
  .rightblok{
    width: auto;
    height: 45px;
    float: right;
    line-height: 10px;
    text-align: left;
    display: flex;
    align-items: flex-end;
  }
  .first{
    float: left;
    height: 45px;
    width: auto;
    line-height: 10px;
    display: flex;
    align-items: flex-end;
    text-align: right;
  }
  .second{
    float: left;
    height: 45px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
  }
  .normal_left_div{
    position: absolute;
    padding: 1.3vw;/*1.3vw 10px*/
    width: 28.776vw;/*28.776vw  221px*/
    height: 221px;
      left:  1.69vw;/*1.69vw  13px*/
  }
  .normal_left_div_vlast{
    top: 932px;
    background: #E3EBD3;
  }
  .normal_left_div_worker3{
    top: 1183px;
    background-image: url("../img.jpg");
    color: #FFFFFF;
  }

};
