$color-green: #E3EBD3;
.bigdiv{
  @media screen and (max-width:768px){
    position: absolute;
    padding: 1.3vw;/*1.3vw 10px*/
    width: 61.458vw;/*61.458vw 472px*/
    height: 472px;
    left: 34.375vw;/*34.375‬vw 264px*/
    top: 932px;
    background: $color-green;
  }

  @media screen and (max-width:480px){
    display: none;
  }
  .row{
    width: 100%;
    margin-bottom: 10px;
  }

  .leftblok{
    float: left;
    height: 45px;;
    width: auto;
  }

  .rightblok{
    width: auto;
    height: 45px;
    float: right;
    line-height: 10px;
    text-align: left;
    display: flex;
    align-items: flex-end;
  }

  .first{
    float: left;
    height: 45px;
    width: auto;
    line-height: 10px;
    display: flex;
    align-items: flex-end;
    text-align: right;
  }

  .second{
    float: left;
    height: 45px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
  }
}
