
footer{
  position: absolute;
  width: 100vw;
  height: 90px;
  left: 0px;
  background: #C4C4C4;

  @media screen and (max-width:768px){
        top: 1764px;
  }
  
  @media screen and (max-width:480px){

        top: 1311px;
        padding: 0!important;
  }


  p{
    position: relative;
    width: 65px;
    height: 20px;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -30px;
    font-size: 24px;
    display: flex;
    align-items: flex-end;


  }

}
