header{



  position: relative;
  width: 100vw;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #C4C4C4;

  @media screen and (max-width:480px){

    padding: 0!important;
  }

  p{
    position: relative;
    width: 74px;
    height: 20px;
    left: 50%;
    margin: 0 0 0 -33px;
    font-size: 24px;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width:768px){
        top: 33px;
    }

    @media screen and (max-width:480px){
        top: 35px;
    }
  }

}
