$color-gray:              #E8EBED;
$color-pink:              #FFAA87;
.middle_div{
    position: absolute;

    @media screen and (max-width:768px){
      padding: 1.3vw;/*1.3vw 10px*/
      width: 61.328vw ; /*61.328vw 471px*/
      height: 135px;
    }

    @media screen and (max-width:480px){
      width: 93.75vw;/*93.75vw 300px*/
      height: 135px;
      padding-left: 3.125vw!important;/*3.125vw 10px*/
      padding-right:  3.125vw!important;/*3.125vw 10px*/
      padding-top: 10px!important;
      padding-bottom: 10px!important;
      
    }

    &_konf{
      background: $color-gray;

      @media screen and (max-width:768px){
        left:  1.69vw;/*1.69vw  13px*/
        top: 767px;
      }

      @media screen and (max-width:480px){
        left: 0px;
        top: 265px;
      }
    }

    &_odnako{
      background:$color-pink;

      @media screen and (max-width:768px){
        left: 34.375vw;/*34.375‬vw 264px*/
        top: 1434px;
      }

      @media screen and (max-width:480px){
        left: 0px;
        top: 816px;
      }
    }
}
