$color-gray:          #A2A9B7;
$color-white:         #FFFFFF;

.normal_right_div{
  position: absolute;
  color: $color-white;
  background: $color-gray;

  @media screen and (max-width:768px){
    width: 29.427vw;/*29.427vw  226px*/
    height: 226px;
    left: 67.057vw;/*67.057vw  515px*/
    padding-left: 1.95vw;/*1.95vw  15px*/
    padding-bottom: 15px;
  }

  @media screen and (max-width:480px){
    
      width: 29.45vw;/*29.45vw  94.25px*/
      height: 94.22px;
      left: 68vw;/*68vw  217.75px*/
      padding: 0!important;
      padding-left: 2.5vw!important;/*2.5vw 8px*/
      padding-bottom: 8px!important;
  }

  &_odnokratno{
    @media screen and (max-width:768px){
        top: 100px;
    }

    @media screen and (max-width:480px){
      top: 595px;
    }
  }

  &_moreno{
    @media screen and (max-width:768px){
        top:  351px;
    }

    @media screen and (max-width:480px){
      top: 703.78px;
    }
  }
}
