$color-white:         #FFFFFF;
$color-gray:          #E3EBD3;
.normal_left_div{
position: absolute;
  @media screen and (max-width:768px){

    padding: 1.3vw;/*1.3vw 10px*/
    width: 28.776vw;/*28.776vw  221px*/
    height: 221px;
    left:  1.69vw;/*1.69vw  13px*/
  }

  &_vlast{
  background: $color-gray;

    @media screen and (max-width:768px){
      top: 932px;
    }

    @media screen and (max-width:480px){
      display: none!important;
    }
  }

  &_worker3{
    color: $color-white ;

    @media screen and (max-width:768px){
      top: 1183px;
      background-image: url("../img.jpg");
    }

    @media screen and (max-width:480px){
      display: none!important;
    }

    &:hover{
      filter: blur(10px);
    }
  }

}
