$color-gray:                #E8EBED;
$color-blue:                #90BCE8;
$color-yellow:              #FEBF26;
$color-pink:                #FFAA87;
$color-darkpink:            #F55E62;
$color-seren:               #C7ABD4;
.small_div {
  position: absolute;

  @media screen and (max-width:768px){
    padding: 1.3vw;/*1.3vw 10px*/
    width: 28.776vw;/*28.776vw  221px*/
    height: 135px;
  }

  @media screen and (max-width:480px){
    padding-left: 3.125vw!important;/*3.125vw 10px*/
    padding-right:  3.125vw!important;/*3.125vw 10px*/
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    width:42.187vw ;/*42.187vw 135px*/
    height: 135px;
  }

  &_workers{
    background: $color-gray ;

    @media screen and (max-width:768px){
      left:  1.69vw;/*1.69vw  13px*/
      top: 602px;
    }

    @media screen and (max-width:480px){
        left: 0px;
        top: 100px;

    }
  }



  &_test{
    background: $color-gray;

    @media screen and (max-width:768px){
    left: 34.375vw;/*34.375vw 264px*/
    top: 602px;
    }

    @media screen and (max-width:480px){
      left: 51.56vw ;/*51.56vw 165px*/
      top: 100px;
    }
  }

  &_int{
    background: $color-blue;

    @media screen and (max-width:768px){
      left: 66.927vw;/*66.927vw 514px*/
      top: 602px;
    }

    @media screen and (max-width:480px){
        left: 0px;
        top: 430px;
    }
  }

  &_workers2{
    background: $color-yellow;

    @media screen and (max-width:768px){
      left:  66.927vw;/*66.927vw 514px*/
      top: 767px;
    }

    @media screen and (max-width:480px){
        left: 51.56vw ;/*51.56vw 165px*/
        top: 430px;
    }
  }

  &_lid{
    background-color: $color-pink;

    @media screen and (max-width:768px){
      left:  1.69vw;/*1.69vw  13px*/
      top: 1434px;
    }

    @media screen and (max-width:480px){
        left: 0px;
        top: 1146px;
    }
  }

  &_nevgeni{
    background: $color-darkpink;

    @media screen and (max-width:768px){
      left:  1.69vw;/*1.69vw  13px*/
      top: 1599px;
    }

    @media screen and (max-width:480px){
        left: 51.56vw ;/*51.56vw 165px*/
        top: 1146px;
    }
  }

  &_vector{
    background: $color-seren;

    @media screen and (max-width:768px){
    left: 67.057vw;/*67.057vw  515px*/
    top: 1599px;
    }

    @media screen and (max-width:480px){
        left: 51.56vw ;/*51.56vw 165px*/
        top: 981px;
    }
  }

  &_tchk{
        background: $color-pink;

    @media screen and (max-width:768px){
    left: 34.375vw ;/*34.375‬vw 264px*/
    top: 1599px;
    }

    @media screen and (max-width:480px){
        left: 0px;
        top: 981px;
    }
  }

}
