$color-gray:              #A2A9B7;
$color-white:             #FFFFFF;

.textdiv{
  position: absolute;
  background: $color-gray;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;

  @media screen and (max-width:768px){
    width: 57.55vw;/*57.55vw   442px*/
    height: 467px;
    left: 1.69vw;/*1.69vw  13px*/
    top: 100px;
    padding-left: 3.255vw;/*3.255vw  25px;*/
    padding-right: 3.255vw;/*3.255vw  25px;*/
    padding-top: 25px;
  }

  @media screen and (max-width:480px){
    padding-left: 3.125vw!important;/*3.125vw 10px*/
    padding-right:  3.125vw!important;/*3.125vw 10px*/
    padding-top: 10px!important;
    width: 59.73vw;/*59.73vw  191.15px*/
    height: 200.98px;/*62.80vw 200.98px */
    left: 0px;
    top: 595px;/*185.937vw  595px*/
    padding-bottom: 0!important;
    overflow-y:  auto;
  }
}
