@charset "UTF-8";
@media screen and (max-width: 768px) {
  .bigdiv {
    position: absolute;
    padding: 1.3vw;
    /*1.3vw 10px*/
    width: 61.458vw;
    /*61.458vw 472px*/
    height: 472px;
    left: 34.375vw;
    /*34.375â¬vw 264px*/
    top: 932px;
    background: #E3EBD3; } }
@media screen and (max-width: 480px) {
  .bigdiv {
    display: none; } }
.bigdiv .row {
  width: 100%;
  margin-bottom: 10px; }
.bigdiv .leftblok {
  float: left;
  height: 45px;
  width: auto; }
.bigdiv .rightblok {
  width: auto;
  height: 45px;
  float: right;
  line-height: 10px;
  text-align: left;
  display: flex;
  align-items: flex-end; }
.bigdiv .first {
  float: left;
  height: 45px;
  width: auto;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  text-align: right; }
.bigdiv .second {
  float: left;
  height: 45px;
  border-bottom-style: dotted;
  border-bottom-width: 2px; }

/*# sourceMappingURL=bigdiv.css.map */
