footer {
  position: absolute;
  width: 100vw;
  height: 90px;
  left: 0px;
  background: #C4C4C4; }
  @media screen and (max-width: 768px) {
    footer {
      top: 1764px; } }
  @media screen and (max-width: 480px) {
    footer {
      top: 1311px;
      padding: 0 !important; } }
  footer p {
    position: relative;
    width: 65px;
    height: 20px;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -30px;
    font-size: 24px;
    display: flex;
    align-items: flex-end; }

/*# sourceMappingURL=footer.css.map */
