@charset "UTF-8";
.middle_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .middle_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 61.328vw;
      /*61.328vw 471px*/
      height: 135px; } }
  @media screen and (max-width: 480px) {
    .middle_div {
      width: 93.75vw;
      /*93.75vw 300px*/
      height: 135px;
      padding-left: 3.125vw !important;
      /*3.125vw 10px*/
      padding-right: 3.125vw !important;
      /*3.125vw 10px*/
      padding-top: 10px !important;
      padding-bottom: 10px !important; } }
  .middle_div_konf {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .middle_div_konf {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 767px; } }
    @media screen and (max-width: 480px) {
      .middle_div_konf {
        left: 0px;
        top: 265px; } }
  .middle_div_odnako {
    background: #FFAA87; }
    @media screen and (max-width: 768px) {
      .middle_div_odnako {
        left: 34.375vw;
        /*34.375â¬vw 264px*/
        top: 1434px; } }
    @media screen and (max-width: 480px) {
      .middle_div_odnako {
        left: 0px;
        top: 816px; } }

/*# sourceMappingURL=middle_div.css.map */
