.normal_left_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .normal_left_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 28.776vw;
      /*28.776vw  221px*/
      height: 221px;
      left: 1.69vw;
      /*1.69vw  13px*/ } }
  .normal_left_div_vlast {
    background: #E3EBD3; }
    @media screen and (max-width: 768px) {
      .normal_left_div_vlast {
        top: 932px; } }
    @media screen and (max-width: 480px) {
      .normal_left_div_vlast {
        display: none !important; } }
  .normal_left_div_worker3 {
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .normal_left_div_worker3 {
        top: 1183px;
        background-image: url("../img.jpg"); } }
    @media screen and (max-width: 480px) {
      .normal_left_div_worker3 {
        display: none !important; } }
    .normal_left_div_worker3:hover {
      filter: blur(10px); }

/*# sourceMappingURL=normal_left_div.css.map */
