.normal_right_div {
  position: absolute;
  color: #FFFFFF;
  background: #A2A9B7; }
  @media screen and (max-width: 768px) {
    .normal_right_div {
      width: 29.427vw;
      /*29.427vw  226px*/
      height: 226px;
      left: 67.057vw;
      /*67.057vw  515px*/
      padding-left: 1.95vw;
      /*1.95vw  15px*/
      padding-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div {
      width: 29.45vw;
      /*29.45vw  94.25px*/
      height: 94.22px;
      left: 68vw;
      /*68vw  217.75px*/
      padding: 0 !important;
      padding-left: 2.5vw !important;
      /*2.5vw 8px*/
      padding-bottom: 8px !important; } }
  @media screen and (max-width: 768px) {
    .normal_right_div_odnokratno {
      top: 100px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div_odnokratno {
      top: 595px; } }
  @media screen and (max-width: 768px) {
    .normal_right_div_moreno {
      top: 351px; } }
  @media screen and (max-width: 480px) {
    .normal_right_div_moreno {
      top: 703.78px; } }

/*# sourceMappingURL=normal_right_div.css.map */
