@charset "UTF-8";
.small_div {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .small_div {
      padding: 1.3vw;
      /*1.3vw 10px*/
      width: 28.776vw;
      /*28.776vw  221px*/
      height: 135px; } }
  @media screen and (max-width: 480px) {
    .small_div {
      padding-left: 3.125vw !important;
      /*3.125vw 10px*/
      padding-right: 3.125vw !important;
      /*3.125vw 10px*/
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      width: 42.187vw;
      /*42.187vw 135px*/
      height: 135px; } }
  .small_div_workers {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .small_div_workers {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_workers {
        left: 0px;
        top: 100px; } }
  .small_div_test {
    background: #E8EBED; }
    @media screen and (max-width: 768px) {
      .small_div_test {
        left: 34.375vw;
        /*34.375vw 264px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_test {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 100px; } }
  .small_div_int {
    background: #90BCE8; }
    @media screen and (max-width: 768px) {
      .small_div_int {
        left: 66.927vw;
        /*66.927vw 514px*/
        top: 602px; } }
    @media screen and (max-width: 480px) {
      .small_div_int {
        left: 0px;
        top: 430px; } }
  .small_div_workers2 {
    background: #FEBF26; }
    @media screen and (max-width: 768px) {
      .small_div_workers2 {
        left: 66.927vw;
        /*66.927vw 514px*/
        top: 767px; } }
    @media screen and (max-width: 480px) {
      .small_div_workers2 {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 430px; } }
  .small_div_lid {
    background-color: #FFAA87; }
    @media screen and (max-width: 768px) {
      .small_div_lid {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 1434px; } }
    @media screen and (max-width: 480px) {
      .small_div_lid {
        left: 0px;
        top: 1146px; } }
  .small_div_nevgeni {
    background: #F55E62; }
    @media screen and (max-width: 768px) {
      .small_div_nevgeni {
        left: 1.69vw;
        /*1.69vw  13px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_nevgeni {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 1146px; } }
  .small_div_vector {
    background: #C7ABD4; }
    @media screen and (max-width: 768px) {
      .small_div_vector {
        left: 67.057vw;
        /*67.057vw  515px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_vector {
        left: 51.56vw;
        /*51.56vw 165px*/
        top: 981px; } }
  .small_div_tchk {
    background: #FFAA87; }
    @media screen and (max-width: 768px) {
      .small_div_tchk {
        left: 34.375vw;
        /*34.375â¬vw 264px*/
        top: 1599px; } }
    @media screen and (max-width: 480px) {
      .small_div_tchk {
        left: 0px;
        top: 981px; } }

/*# sourceMappingURL=small_div.css.map */
